[submodule "MainProject/submoduleTest1"]
	path = MainProject/submoduleTest1
	url = https://github.com/emiraki/submoduleTest1
[submodule "submoduleTest2"]
	path = submoduleTest2
	url = https://github.com/emiraki/submoduleTest2
[submodule "MainProject/Submodules/TestFrameworkSubmodule"]
	path = MainProject/Submodules/TestFrameworkSubmodule
	url = https://github.com/emiraki/TestFrameworkSubmodule.git
